body {
	background: #04A1BF;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 800;
}

p {
	font-weight: 600;
}

#content {
	display: flex;
	flex-direction: column;
	align-content: center;
}

#subcontent {
	display: flex;
	justify-content: center;
}

.info {
	width: 200px;
	display: flex;
	flex-direction: column;
	margin: auto;
}

.hidden {
	display : none;
}

